<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Your data was uploaded. Now you can search it</h3>
      </div>
      <hr/>
      <div>
        <h1 class="text-muted">Enter your search--make sure it is an SQL query</h1>
        <form action="query_db" method="post" enctype="multipart/form-data">
          <input type="form" name="userquery"><br /><br />
          <input type="submit" value="Query The Database">
        </form>
      </form>
      </div>
    </div>
  </body>
</html>


